<style>
  :host {

    --bright-blue: oklch(51.01% 0.274 263.83);
    --electric-violet: oklch(53.18% 0.28 296.97);
    --french-violet: oklch(47.66% 0.246 305.88);
    --vivid-pink: oklch(69.02% 0.277 332.77);
    --hot-red: oklch(61.42% 0.238 15.34);
    --orange-red: oklch(63.32% 0.24 31.68);

    --gray-900: oklch(19.37% 0.006 300.98);
    --gray-700: oklch(36.98% 0.014 302.71);
    --gray-400: oklch(70.9% 0.015 304.04);

    --red-to-pink-to-purple-vertical-gradient: linear-gradient(
      180deg,
      var(--orange-red) 0%,
      var(--vivid-pink) 50%,
      var(--electric-violet) 100%
    );

    --red-to-pink-to-purple-horizontal-gradient: linear-gradient(
      90deg,
      var(--orange-red) 0%,
      var(--vivid-pink) 50%,
      var(--electric-violet) 100%
    );

    --pill-accent: var(--bright-blue);

    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1 {
    font-size: 3.125rem;
    color: var(--gray-900);
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.125rem;
    margin: 0;
    font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
  }

  
  main {
    width: 100%;
    min-height: 100%;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: inherit;
    position: relative;
    flex-direction: column;
    background: linear-gradient(#DA62E1, #830CF4);

  }

  
  .content {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 700px;
    margin-bottom: 3rem;
  }

  

  @media screen and (max-width: 650px) {
    .content {
      flex-direction: column;
      width: max-content;
    }

  }
</style>

<main class="main">
  <div style=" display: flex;
  justify-content: center;  
  flex-direction: column;
  align-items: center;
  width: 70%;
  height: 50%; 
  box-sizing: inherit;
   box-sizing: inherit;
   background-color: #ffffff;
   border-radius: 2em;">
    <div class="city-search-header">
      <div class="search-city-input-wrapper">
        <input class="search-city-input" auto-complete-placeholder="search city" placeholder="search city"
        ngModel 
        [(ngModel)]="city"
        #input
               />
        <button (click)="fetchWeather(city)" class="search-city-btn">
          <svg class="search-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 451 451">
            <path fill="#FFF"
                  d="M447 428L337.6 318.4A192.5 192.5 0 0 0 192.4 0C86.3 0 0 86.3 0 192.3s86.3 192.3 192.3 192.3c48.2 0 92.3-17.8 126-47.2L428.2 447a13.2 13.2 0 0 0 19 0 13.5 13.5 0 0 0 0-19zM27 192.3C27 101.1 101 27 192.3 27c91.1 0 165.3 74.2 165.3 165.3s-74.2 165.4-165.4 165.4A165.6 165.6 0 0 1 27 192.3z"></path>
          </svg>
        </button>
      </div>
    </div>
    <div *ngIf="subWeather != null"  class="content">
      <!-- <section class="main-weather__card"> -->
        <section class="card-header__container-dark" >
          <div class="header-content__wrapper">
            <!-- <img class="city__illustration" [src]="cityIllustrationPath"/> -->

            <div class="today-weather__container">
              <div class="temp-state__container">
                <div style="display: flex; flex-direction: row; align-items: center;">
                  <span class="temperature__text">{{temp}}°</span>

                <div  [ngSwitch]="true">
                  <img class="temp-condition__icon" *ngSwitchCase="state === 'Clouds'" src="../assets/cloudy.svg" />
                  <img class="temp-condition__icon" *ngSwitchCase="state === 'Rain' || state === 'Drizzle'"  src="assets/rainy-1.svg" />
                  <img class="temp-condition__icon" *ngSwitchCase="state === 'Storm'" src="assets/rainy-7.svg"/>
                  <img class="temp-condition__icon" *ngSwitchCase="state === 'Sunny' || state === 'Clear'" src="assets/day.svg" />
                </div>
                </div>
                <span class="weather-state__text">{{state}}</span>
              </div>
              <div class="hum-wind__container">
                <div class="hum__container">
                  <span class="hum__text">humidity</span>
                  <span class="hum-value__text">{{hum}} %</span>
                </div>
                <div class="hum-wind__separator">&nbsp;</div>
                <div class="wind__container">
                  <span class="wind__text">wind</span>
                  <span class="wind-value__text">{{wind}} K/M</span>
                </div>
              </div>
            </div>

            <div class="city-name__container">
              <div class="city-name__underline">
                <span class="city-name__text">{{cityName}}</span>
              </div>
            </div>
          </div>
        </section>
      <!-- </section>  -->
    </div>
    
      <section  *ngIf="subWeather != null"  class="forecast__container">
        <div class="day-weather__container" [ngSwitch]="true">
          <span class="forecast-condition__icon"  class="day-name__text">{{day1Name}}</span>
          <img class="forecast-condition__icon" *ngSwitchCase="day1State === 'Clouds'" src="../assets/cloudy.svg" />
          <img class="forecast-condition__icon" *ngSwitchCase="day1State === 'Rain' || day1State === 'Drizzle'"  src="assets/rainy-1.svg" />
          <img class="forecast-condition__icon" *ngSwitchCase="day1State === 'Storm'" src="assets/rainy-7.svg"/>
          <img class="forecast-condition__icon" *ngSwitchCase="day1State === 'Sunny' || day1State === 'Clear'" src="assets/day.svg" />
          <span class="day-temp__text">{{day1Temp}}°</span>
          <span class="day-state__text">{{day1State}}</span>
        </div>

        <!-- DAY 2 -->
        <div class="day-weather__container" [ngSwitch]="true">
          <span class="day-name__text">{{day2Name}}</span>
          <img class="forecast-condition__icon" *ngSwitchCase="day2State === 'Clouds'" src="assets/cloudy.svg" />
          <img class="forecast-condition__icon" *ngSwitchCase="day2State === 'Rain' || day2State === 'Drizzle'" src="assets/rainy-1.svg" height="120px"/>
          <img  src="assets/rainy-7.svg" class="forecast-condition__icon" *ngSwitchCase="day2State === 'Storm'" />
          <img  class="forecast-condition__icon" *ngSwitchCase="day2State === 'Sunny' || day2State === 'Clear'" src="assets/day.svg" height="120px"/>
          <span class="day-temp__text">{{day2Temp}}°</span>
          <span class="day-state__text">{{day2State}}</span>
        </div>

        <!-- DAY3 -->
        <div class="day-weather__container" [ngSwitch]="true">
          <span class="day-name__text">{{day3Name}}</span>
          <img class="forecast-condition__icon" *ngSwitchCase="day3State === 'Clouds'" src="assets/cloudy.svg" />
          <img class="forecast-condition__icon" *ngSwitchCase="day3State === 'Rain' || day3State === 'Drizzle'" src="assets/rainy-1.svg" />
          <img class="forecast-condition__icon" *ngSwitchCase="day3State === 'Storm'"  src="assets/rain-7.svg" />
          <img class="forecast-condition__icon" *ngSwitchCase="day3State === 'Sunny' || day3State === 'Clear'"  src="assets/day.svg" />
          <span class="day-temp__text">{{day3Temp}}°</span>
          <span class="day-state__text">{{day3State}}</span>
        </div>

        <!-- DAY 4 -->
        <div class="day-weather__container" [ngSwitch]="true">
          <span class="day-name__text">{{day4Name}}</span>
          <img class="forecast-condition__icon" *ngSwitchCase="day4State === 'Clouds'"  src="assets/cloudy.svg" />
          <img class="forecast-condition__icon" *ngSwitchCase="day4State === 'Rain' || day4State === 'Drizzle'" src="assets/rainy-7.svg" />
          <img class="forecast-condition__icon" *ngSwitchCase="day4State === 'Storm'" src="assets/rain-7.svg" />
          <img class="forecast-condition__icon" *ngSwitchCase="day4State === 'Sunny' || day4State === 'Clear'"  src="assets/day.svg" />
          <span class="day-temp__text">{{day4Temp}}°</span>
          <span class="day-state__text">{{day4State}}</span>
        </div>

        <div class="day-weather__container" [ngSwitch]="true">
          <span class="day-name__text">{{day5Name}}</span>
          <img class="forecast-condition__icon" *ngSwitchCase="day5State === 'Clouds'"  src="assets/cloudy.svg" />
          <img class="forecast-condition__icon" *ngSwitchCase="day5State === 'Rain' || day5State === 'Drizzle'" src="assets/rainy-1.svg" />
          <img class="forecast-condition__icon" *ngSwitchCase="day5State === 'Storm'" src="assets/rain-7.svg" />
          <img class="forecast-condition__icon" *ngSwitchCase="day5State === 'Sunny' || day5State === 'Clear'"  src="assets/day.svg" />
          <span class="day-temp__text">{{day5Temp}}°</span>
          <span class="day-state__text">{{day5State}}</span>
        </div>
      </section>

      <div>
      </div>
    </div>
</main>

<router-outlet />
